.box-wrap {
  border: 2px dashed transparent;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  background-color: #efefef;
  left: 0;
  top: 0;
  width: 200px;
  height: 100px;
  &.active,
  &:hover {
    border-color: blue;
  }

  &.active {
    cursor: move;
  }
}