.box-wrap {
  border: 2px dashed transparent;
  display: inline-block;
  padding: 5px;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;

  &.active,
  &:hover {
    border-color: blue;
  }

  &.active {
    cursor: move;
  }
}